<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/new.css'/>

<h2>Add an Exercise</h2>
<form action="/exercises" method="POST">
    <input type="text" placeholder="Exercise" name="name">
  <br>
    <input type="url" placeholder="Video URL"name="video">
  <br>
  
    <input type="number" placeholder="Number of Sets" name="sets">
  <br>
  
    <input type="number" placeholder="Number of Reps" name="reps">
  <br>
    <input type="text" placeholder="Weight" name="weight">
  <br>
  <input type="submit" value="Add Exercise">
</form>


<%- include('../partials/footer') %>